
header, main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    width: 80px;
    border: none;
    background-color: #e54;
    color: #fff;
    padding: 5px;
    border-radius: 4px ;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.315);
}

button:hover {
    background-color: white;
    color: #000;
    transition: .3s;
}